---
layout: page.njk
title: everything else
subtitle: The other content, writing, posts, experiments that have been posted to this site.  
---

<div class="tidbit-grid">
  <div id="leftcolumn">
    <div class="tidbit">
      {% renderFile "./tidbits/other-bits.md" %}
    </div>
    <div class="tidbit">
      {% renderFile "./tidbits/itp.md" %}
    </div>
    <div class="tidbit">
      {% renderFile "./tidbits/daily.md" %}
    </div>
    <div class="tidbit">
      <embed src="https://leils.github.io/web-sites/stopmotion.html" height="300"/>
    </div>
    <div class="tidbit">
      {% renderFile "./tidbits/resources.md" %}
    </div>
  </div>
  <div id="rightcolumn">
    <div class="tidbit">
      <h3>occassionally i write</h3>
      <p>though honestly, i don't know what I'm looking for here</p>
      <ul>
        {%- for p in collections.blog | reverse -%}
          <li>
            <sup>
              <sub>{{ p.data.date }}</sub>
            </sup>
            <a href="{{ p.url }}">{{ p.data.title }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
    <div class="tidbit">
      {% renderFile "./tidbits/testimonials.md" %}
    </div>
    <div class="tidbit">
      <h3>yearlong notes</h3>
      <p>On my phone I keep a note for the year, a place to stash ideas and inspirations, words that I like, things to look up
        for later. I built a shortcut that allows me to jot things down and automatically add them to the note, with an empty
        line separating it.
        <br>
          I don't pretend to remember all of what these words mean, but they meant something to me at the time, enough to write
          them down. At the end of the year, I publish the whole note here.</p>
        <ul>
          {%- for p in collections.yearnote | reverse -%}
            <li>
              <a href="{{ p.url }}">{{ p.data.date }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="tidbit">
        {% renderFile "./tidbits/others.md" %}
      </div>
    </div>
  </div>