---
layout: sitewrapper.njk
title: Leia
---
<h1>~leia~</h1>
<hr>
<div class="card-display">
{%- for p in collections.showcase | reverse -%}
  {% set post = p %}
  {% include "card.njk" %}
{%- endfor -%}
</div>