---
layout: sitewrapper.njk
title: Leia
---
<h1>selected works</h1>
<hr>
<div class="card-display">
{%- for p in collections.showcase | reverse -%}
  {% set post = p %}
  {% include "card.njk" %}
{%- endfor -%}
</div>

<h1>& more</h1>
<p>experiments, sketches, & other projects</p>
<hr>
<div class="card-display">
{%- for p in collections.experiment | reverse -%}
  {% set post = p %}
  {% include "card.njk" %}
{%- endfor -%}
</div>
