---
layout: sitewrapper.njk
---
  <div class="blogHeader">
    <h1>{{title}}</h1>
    <hr>
    {% if thumbnail %}
      <img alt={{thumbnail}} src={{thumbnail}}>
    {% endif %}
  </div>
  
  {{ content | safe }}

  <hr>
  <div class="blogFooter">
    <p> Posted {{date}} </p>
    <div class="pageTags">
      {% set comma = joiner() %}
      Tagged: 
      {% for tag in tags %}
        {{ comma() }} <a href="/tags/{{ tag | slug }}">{{ tag }}</a>
      {%- endfor %}
    </div>
    {% if tech.length > 0 %}
      <div class="pageTech">
        Tech: 
        {% for t in tech %}
          {{ comma() }} <a href="/tech/{{ t }}">{{ t }}</a>
        {%- endfor %}
      </div>
    {% endif %}
  </div>