
<div class="post-card">
  <a href="{{ post.url }}">
    {% if post.data.thumbnail %}
      {% set path = post.filePathStem.substring(0, post.filePathStem.lastIndexOf("/") + 1) %}
      {% set thumb = post.data.thumbnail.substring(post.data.thumbnail.lastIndexOf("/") + 1) %}
      <img class="thumbnail" src={{ path+thumb }} alt={{ post.data.title }}>
      {% endif %}
      <h2>{{ post.data.title }}</h2>
    </a>
  </div>
