<!DOCTYPE html>
<link rel="stylesheet" href="/bundle.css">
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{title}}</title>
	</head>
	<body>
        <div class="siteheader">
            <div class="heroline">leia</div>
        </div>

		{{ content | safe }}
	</body>
</html>

<!doctype html>
<link rel="stylesheet" href="/bundle.css">
